@model SeBlog.Web.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    @Scripts.Render("~/jquery", "~/jqueryval", "~/jqueryunobtrusiveval")
    @Styles.Render("~/Content/admin/css")

</head>

<body>
    <div id="login-div">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

            <fieldset>
                <legend>Login</legend>
                <p>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </p>

                <p>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </p>

                @Html.Hidden("ReturnUrl")
                @Html.AntiForgeryToken()

                <div class="row">
                    <p>
                        <input type="submit" value="Login" />                   
                        @Html.ActionLink("Register", "Register", "Admin", null, new { @class = "btn" })
                    </p>
                </div>
            </fieldset>
        }
    </div>
</body>
</html>